.timerStart {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5em;
    height: 3.5em;
    width: 100%;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #ECC7B0;
    outline: none;
}

.timerStart:hover {
    color: #f5eeea;
}

.timerPause {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5em;
    height: 3.5em;
    width: 100%;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #f2c1c1;
    outline: none;
}

.timerPause:hover {
    color: #f5eeea;
}
@media screen and (max-height: 1200px) {
    .timerStart {
        height: 3em;
    }
    .timerPause {
        height: 3em;
    }
}