.timerStart {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5em;
    height: 93%;
    width: 20%;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #ECC7B0;
}

.timerPause {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5em;
    height: 93%;
    width: 20%;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #f2c1c1; 
}