.taskManager {
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70em;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 8px solid #501507;
    border-bottom: none;
    background-color: #ECC7B0;
}

.tasks {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

.tasks li {
    display: flex;
    align-items: center;
    border: solid 4px #794040;
    border-radius: 12px;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
}
    