.taskManager {
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 31.8em;
    width: 66em;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 8px solid #501507;
    border-bottom: none;
    background-color: #ECC7B0;
}

.leftTaskSide {
    width: 50%;
}

.rightStatSide {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tasksHeader {
    font-size: 2em;
    margin-top: 0.5em;
    margin-left: 1em;
}

.statsHeader {
    font-size: 2em;
    align-self: flex-end;
    margin-right: 1.5em;
}

.taskList {
    list-style: none;
    margin-left: 3em;
    margin-bottom: 0em;
    padding: 0;
}

.taskList p {
    margin: 0;
}

.taskList li {
    margin-left: 0.5em;
    margin-bottom: 1em;
}

.taskList li:hover {
    border-left-color: #50160796
}

.activeTask {
    border-left-color: #501607
}

@media screen and (max-height: 1200px) {
    .taskManager {
        height: 61.6%;
        font-size: 0.75em;
    }
}

#stats {
    display: flex;
    align-self: flex-end;
}
