.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    margin-bottom: 0;
    font-size: 8em;
    font-family: 'Concert One';
    color: #2f2a2a;
}

.timerColon {
    display: flex;
    align-items: baseline;
}
@media screen and (max-height: 1200px) {
    .timer {
        font-size: 8em;
    }
}