.timer {
    width: 80%;
    text-align: center;
    margin-top: -2%;
    font-size: 8em;
    letter-spacing: 1px;
    font-family: 'Concert One', monospace;
    color: #2f2a2a;
}

@media screen and (max-height: 1200px) {
    .timer {
        font-size: 6.5em;
    }
}