.TimerSelector {
    display: flex;
    justify-content: space-between;
    font-size: 1.75em;
    margin: 0;
    height: 1.5em;
    width: 100%;
    border: none;
}

.PomodoroSelector {
    width: 6em;
    text-align: center;
    float: left;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.ShortBreakSelector {
    width: 6em;
    text-align: center;
    float: left;
    cursor: pointer;
}

.LongBreakSelector {
    width: 6em;
    text-align: center;
    float: left;
    cursor: pointer;
}