.window {
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0% auto;
    height: 91%;
    width: 95%;
    background-color: #f6e4d9;
    border-left: 7px;
    border-right: 7px;
    border-bottom: 14px;
    border-top: 0px;
    border-style: solid;
    border-color: #501507;
    border-radius: 6px;
}