.wholePage {
    display: flex;
    height: 100vh;
}

.window {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0% 2%;
    height: 70%;
    width: 100%;
    border-left: 7px;
    border-right: 7px;
    border-bottom: 15px;
    border-top: 0px;
    border-style: solid;
    border-color: rgb(80, 21, 7);
    border-radius: 6px;
    overflow: hidden;
}
.cloud1 {width: 100%;}

.cloud1 img{
    height: 5em;
    width: auto;
}

.cloud2 {width: 100%; z-index: 1}
.cloud2 img{
    height: 5em;
    width: auto;
}
.cloud3 {width: 100%;}
.cloud3 img{
    height: 5em;
    width: auto;
}

.timerContainer {
    display: flex;
    flex-wrap: wrap;
    height: 24em;
    width: 51em;
    flex-direction: column;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    z-index: 2;
}

.timerSubContainer {
    display: flex;
    align-items: center;
    margin: 0;
    height: 30em;
    width: 50em;
    border-radius: 12px;;
    border: 8px solid rgb(121, 64, 64);
    border-bottom-width: 14px;
    background-color: #ECC7B0;
}

.timerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 75%;
    margin: 1em 1em;
    border-radius: 10px;
    border: 5px solid rgb(126, 72, 72);
    background-color: #f5eeea;
}

html, body {
    height: 100%;
    font-family: 'Fredoka One', cursive;
    background-color: #f6e4d9;
    color: #2f2a2a;
}

.Modal {
    position: absolute;
    height: 35em;
    width: 60em;
    top: 20%;
    left: 25%;
    background-color: papayawhip;
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(70, 70, 70, 0.794);
}

.editButton {
    align-self: flex-end;
    height: 4em;
    width: 4em;
    background-color: rgba(255, 255, 255, 0.418);
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
}

.editButton:active {
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}