html, body {
    height: 100%;
    width: 100vw;
    font-family: 'Fredoka One', cursive;
    background-color: #ecc7b0;
    color: #2f2a2a;
}

header {
    z-index: 5;
    position: absolute;
    color: #501607c7;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    width: 100em; /* Need a specific value to work */
}


.wholePage {
    height: 100vh;
    width: 100vw;
}

.window {
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0% 2%;
    height: 91%;
    width: 95%;
    background-color: #f6e4d9;
    border-left: 7px;
    border-right: 7px;
    border-bottom: 15px;
    border-top: 0px;
    border-style: solid;
    border-color: rgb(80, 21, 7);
    border-radius: 6px;
}

.cloud1 {width: 100%;}

.cloud1 img{
    height: 5em;
    width: auto;
}

.cloud2 {width: 100%; z-index: 1}
.cloud2 img{
    height: 5em;
    width: auto;
}
.cloud3 {width: 100%;}
.cloud3 img{
    height: 5em;
    width: auto;
}

.timerContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 642px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-height: 1200px) {
    .timerContainer {
        margin-top: 13.5%
    }
}

.timerSubContainer {
    z-index: 1;
    display: flex;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    height: 14.5em;
    width: 45em;
    border-radius: 12px;
    border: 8px solid rgb(121, 64, 64);
    border-top-width: 6px;
    border-bottom-width: 10px;
    background-color: #ECC7B0;
}

.timerButtons {
    display: flex;
    flex-wrap: wrap;
    height: 92%;
    width: 10em;
    margin-top: 0.5em;
    margin-right: 1em;
}

.timerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 75%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    border: 5px solid rgb(126, 72, 72);
    background-color: #f5eeea;
}
.Modal {
    z-index: 5;
    position: absolute;
    height: 35em;
    width: 60em;
    top: 20%;
    left: 25%;
    background-color: papayawhip;
}
.Overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(70, 70, 70, 0.794);
}

.editButton {
    height: 3.5em;
    width: 6.25em;
    padding: 5px 5px;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #ECC7B0;
}

.editButton:active {
    background-color: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.chartButton{
    height: 3.5em;
    width: 4em;
    padding: 5px 5px;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #ECC7B0;
    margin-left: 1em;
}