html, body {
    height: 100%;
    font-family: 'Fredoka One', cursive;
    background-color: #ecc7b0;
    color: #2f2a2a;
}

header {
    z-index: 5;
    position: absolute;
    color: #501607c7;
    left: 0; 
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 20em; /* Need a specific value to work */
}

input {
    outline: none;
    font-family: 'Fredoka One', cursive;
}

.wholePage {
    height: 100vh;
}

.timerContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 47.7em;
    width: 100%;
    margin-top: -30%;
    margin-left: auto;
    margin-right: auto;
}

.timerSubContainer {
    font-size: 0.9em;
    z-index: 1;
    display: flex;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    height: 14em;
    width: 48em;
    border-radius: 12px;
    border: 8px solid rgb(121, 64, 64);
    border-top-width: 6px;
    border-bottom-width: 10px;
    background-color: #ECC7B0;
}

.timerButtons {
    display: flex;
    flex-wrap: wrap;
    height: 13em;
    width: 100%;
    margin-top: 0.5em;
    margin-right: 1em;
}

.timerDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12em;
    width: 40em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    border: 5px solid rgb(126, 72, 72);
    background-color: #f5eeea;
}
.Modal {
    z-index: 5;
    position: absolute;
    height: 30em;
    width: 40em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f6e4d9;
    border: 3px solid #74433567;
    border-radius: 8px;
    outline: none;
}

.chartModal {
    z-index: 5;
    position: absolute;
    height: 35em;
    width: 60em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f6e4d9;
    border: 3px solid #74433567;
    border-radius: 8px;
    outline: none;
}

.firebaseui-card-content {
    padding-top: 2em !important;
}

.firebaseui-card-footer{
    padding-top: 3em !important;
}

.Overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(107, 107, 107, 0.794);
}

.whiteSpaceDiv {
    height: 20em;
}

.editButton {
    height: 3.5em;
    width: 4.6em;
    padding: 5px 5px;
    margin-top: 0.5em;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #ECC7B0;
    outline: none;
}

.editButton:hover {
    color: #f5eeea
}

.editButton:active {
    background-color: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.chartButton{
    height: 3.5em;
    width: 4em;
    padding: 5px 5px;
    border: 4px inset rgb(126, 72, 72);
    border-radius: 12px;
    padding: 0;
    background-color: #ECC7B0;
    margin-top: 0.5em;
    margin-left: 1em;
    outline: none;
}

.chartButton:hover {
    color:#f5eeea;
}

@media screen and (max-height: 1200px) {
    .timerContainer {
        height: 36em;
    }
    .timerSubContainer {
        height: 12em;
        width: 43em;
    }
    .timerDisplay {
        height: 10em;
    }
    .timerButtons {
        height: 10.5em;
    }
    .editButton {
        width: 4em;
        font-size: 0.85em;
        margin-right: 0.75em;
    }
    .chartButton {
        width: 4em;
        margin-left: 0.5em;
        font-size: 0.85em;
    }
}