.statsViewer {
    width: 18em;
    align-self: flex-end;
    margin-right: 2em;
    font-size: 1.3em;
}

.statsViewer h3{
    margin-top: 0em;
}

.hide {
    display: none;
}

.streak {
    /* empty for now but maybe ill change it up */
    
}