.statsViewer {
    width: 18em;
    align-self: flex-end;
    margin-right: 2em;
    font-size: 1.3em;
}

.statsViewer h3{
    margin-top: 0.25em;
    margin-bottom: 0em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.activeTaskDiv {
    overflow: hidden;
    white-space: normal !important;
}

.hide {
    display: none;
}

.streak {
    /* empty for now but maybe ill change it up */
    
}

.infoButton {
    margin-top: 2em;
    margin-left: 10em;
    color: #744334;
}

.infoButton :hover {
    cursor: pointer;
    color: #f5eeeace;
}

.hideHint {
    color: #501507;
}

.hideHint :hover{
    cursor: pointer;
    color: white;
}

.hintDiv {
    font-size: 1em;
    width: 18em;
    text-align: center;
    border: solid 4px #fff3ed;
    border-radius: 12px;
    background-color: #ffe7d9;
    margin-bottom: 3em;
}